@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');*{
  font-family: 'ui-sans-serif', sans-serif;
}
*{
  font-family: 'ui-sans-serif', sans-serif;
}

:root {
  --color-fondo:#0F0F0F;
  --color-fondo2: #F6F1F1;
  --color-fondo3: #38322F;
  --color-texto: #F3F3F3;
  --color-texto2: #23434F;
  --color-texto3: #000000;
  --color-botonesPrimarios:#C0252A;
  /*--color-botonesPrimarios:#C21015;*/  
  /*--color-botonesPrimarios:#CD3415;*/  
  --color-botonesSecundarios: #F3F3F3; 
  --color-HoverBotones: #94080d;
}

h1 {
  font-family: 'ui-sans-serif', sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family: 'ui-sans-serif', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'ui-sans-serif', sans-serif;
}

input {
  font-family: 'ui-sans-serif', sans-serif;
}

select {
   font-family: 'ui-sans-serif', sans-serif;
}

option {
   font-family: 'ui-sans-serif', sans-serif;
}

body {
  background-color: var(--color-fondo);
  background-color: var(--color-fondo2);
  background-color: var(--color-botonesPrimarios);
  background-color: var(--color-botonesSecundarios);
  color: var(--color-texto);
  color: var(--color-texto2);
  font-family: 'ui-sans-serif', sans-serif;
}

  
  
  
  h1 {
    color: var(--color-texto);
  }
  
  h2 {
    color: var(--color-texto);
  }
  
  p {
    color: var(--color-texto);
  }

  option {
    color: var(--color-texto3);
  }

nav{
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #1E2024;
    width: 300px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    
}
.logo img{
    width: 350px;
    height: 90px;
    border-radius: 50%;
    

}
.logo span{
    font-weight: bold;
    padding-left: 20px;
    font-size: 25px;
    text-transform: uppercase;
    padding:5px;
}
a{
    position: relative;
    color: #ffffff;
    font-size: 20px;
    display: table;
    width: 300px;
    padding: 15px;
    clip-path: circle(100% at 20% 0);
    transition: .5s;
}
.bx{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.lupa{
    font-size: 8px;
    color: #1E2024;
    width: 10px;
    height: 0px;
}


.nav-item{
    position: relative;
    top: 12px;
    margin-left: 15px;
    
}
a:hover{
    background: #898b8d;
}
a:active{
    clip-path: circle(0% at 5% 10%);
}
.logout{
    position: absolute;
    bottom: 0;

}
.main{
    position: relative;
    top: 1.25rem;
    left: 25rem;
    padding: 7rem;
    font-size: 1.56rem;
    height: 800px;
    width: 78%;
    justify-content: center;
    align-content: center;
}
.icon{
    font-size: 2.5rem;
}

.main .menu{
    position: absolute;
    left: 2.18rem;
    top: 7.3rem;
    font-size: 3.75rem;
    display: flex;
    flex-direction: column
}
table{
    position: relative;
    background-color: aliceblue;
    text-align: center;
    top: 5px;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.25rem;
    border-radius: 15px;
    box-shadow: 1px 7px 17px black;
    transition: 1s;
    transform: scale(1);
    animation-name: entrada;
    animation-duration: .6s;
}

@keyframes entrada {
    0%{
        transform:scale(.05);
    }
}

th, td{
    border-style:groove;
    padding: 10px;
}
tr{
    background-color: #ffffff;
    transition: .5s;
    
}

.titulo{
    position: relative;
}


.buton{
    margin-top: 30px;
    border: 0;
    align-items: end; /*Los elementos empiezan en el centro*/
    justify-content: end; /*Contenido justificado en el centro*/
    text-align: end; /*Texto alineado en el centro*/
    background-color:var(--color-botonesPrimarios);
    color: #fff;
    width: 90%;
    height: 40px;
    border-radius: 19px;
    transition: 0.2s;
  
  }

.btn1{
  
    
    background-color: royalblue;
    border: 10px;
    padding: 8px 1px;
    cursor: pointer;
    cursor: pointer;border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-right:15px;
    transition: .50s;
}


.btn3{
    background-color: rgb(255, 102, 102);
    border: 10px;
    padding: 8px 1px;
    cursor: pointer;
    cursor: pointer;border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: .50s;

}
.btn2{
    background-color: rgb(76, 222, 76);
    border: 10px;
    padding: 8px 1px;
    cursor: pointer;border-radius: 10px;
    color: rgb(255, 255, 255);
    margin-right:15px;
    transition: .50s;
}
.effect:hover{
    transform: scale(1.10);
}

tr:hover{
    background-color: #e2e6eb;
}
.barra{
    background-color: #898b8d;
    width: 100%;
    height: 3px;
}
.crear{
    position: relative;
    width: 25rem;
    height: 4.68rem;
    left: 46.2rem;
    border-style: none;
    cursor: pointer;border-radius: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 1.25rem;
}
.create{
    background-color: #1E2024;
    border: 10px;  
    cursor: pointer;border-radius: 10px;
    margin-right:15px;
    transition: .50s;
}
.buscar{
    
    grid-template-columns: repeat(2,1fr);
    display:inline-flex;
    background-color: #ffffff;
    color: #0000;
    border: 10px;
    cursor: pointer;border-radius: 10px;
    transition: .50s;
}
.inicio{
    display: grid;
    grid-template-columns: 2;
    height: 20px;
}
input{
    border-radius: 10px;
    border-style: none;
}
.paginacion{
    position: relative;
    
    color: rgb(255, 255, 255);
    left: 250px;
    bottom: 0px;
    z-index:1;
    margin-top: 1.8rem;
    display:flex;
    width: 50%;
    text-align: center;
    
}
.pagina{
    margin-left: 20px;
    margin: 20px;
    
    border-style:none;
    background-color: #e2e6eb;
    border-radius: 10px;
    cursor: pointer;border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: transform .3s;
}
.pagina:hover{
    transform: scale(1.10);
}
.pagina2{ 
    font-size: 20px;
    border-style:none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;border-radius: 10px;
    box-shadow: 1px 7px 7px black;
}
